@model Epicycl.ViewModels.CustomerFormViewModel;
@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Customer</h1>

@using (@Html.BeginForm("Save", "Customer")){
    

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name, new {@class = "form-label"})
        @Html.TextBoxFor(m => m.Customer.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(M => M.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId, new {@class = "form-label mt-4"})
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Choose a Subscription Type", new {@class = "form-control mt-4B"})
       
        @Html.ValidationMessageFor(M => M.Customer.MembershipTypeId, "Membership Type field is invalid")
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthday, new {@class = "form-label mt-4"})
        @Html.TextBoxFor(m => m.Customer.Birthday, "{0:yyyy-MM-dd}", new {@class = "form-control mt-4B"})
        @Html.ValidationMessageFor(M => M.Customer.Birthday, "Date of Birth field is required")
    </div>
   
    
    <hr />
     <div class="checkbox form-check">
       <label>
           @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter, new {@class="form-check-input"})
            Subscribe to newsletter?
       </label>
    </div>
    @Html.HiddenFor(m=>m.Customer.Id);
    @*@Html.AntiForgeryToken()*@
    <hr />
    <button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts
{​​​​​​​​
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 
}​​​​​​​​

