@model Epicycl.ViewModels.CustomerDetailsViewModel;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
            var MemType = @Model.SubscribtionTypes.SingleOrDefault(x => x.Id == @Model.Customer.MembershipTypeId);
            
        }

<h2>About</h2>
<hr />

<div class="card border-dark mb-3" style="max-width: 20rem;">
  @*<div class="card-header">@Model.Customer.Name</div>*@
  <div class="card-body">
    <h4 class="card-title">@Model.Customer.Name</h4>
    <h5>Birthday: @Model.Customer.Birthday.ToShortDateString()</h5>
    <h5 class="text-info">About: </h5>
    <p class="card-text">
        Hi! My name is @Model.Customer.Name and I'm the CEO of VeryBigCompany. 
        My team and I develope awesome solutions for communication and environment problems, but
        we have a slight problem - there's not enough satellites in space to fill everyone's needs.
        Can you rent me one? I promise I will offer you solutions you've been looking for!
    </p>
    <h5 class="text-info">Contact information: </h5>
    <p><a href="mailto:someone@example.com">someone@example.com</a></p>
  </div>
</div>
s


