@model Epicycl.ViewModels.CustomerDetailsViewModel;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About @Model.Customer.Name</h1>



<ul>
    <li>Membership Type: 
        @{
            var MemType = @Model.SubscribtionTypes.Select(x => x.Id == @Model.Customer.MembershipTypeId);
            
        }
        @Model.Customer.MembershipType</li>
    @if (@Model.Customer.Birthday != null)
    {
        <li>Birthday: @Model.Customer.Birthday</li>
    }
    
</ul>


