@model IEnumerable<Epicycl.Models.Customer> ;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Service Providers</h1>
<br />
@if(User.IsInRole("AdminUser") || User.IsInRole("ServiceProvider"))
{
  <p>
    @Html.ActionLink("Create new", "New", "Customer", null, new {@class = "btn btn-primary"})
</p>  
}


@if(!Model.Any())
{
    <p>We don't have any customers yet.</p>
}else{
    <table id="customers-table" class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">Service Provider</th>
                <th scope="col">Type</th>
                @if (User.IsInRole("AdminUser"))
                {
                   <th scope="col">Edit / Delete a Customer</th> 
                }
                

    </tr>
  </thead>
  <tbody>
    
            @foreach(var customer in Model)
            {
                <tr class="table-dark">
                 <td scope="row" >
                    @Html.ActionLink(customer.Name, "Details", "Customer", new{ id=customer.Id}, null)
                     
                 </td>
                 <td>@customer.MembershipType.Name</td>

                    
                    @if (User.IsInRole("AdminUser"))
                    {
                       <td>
                     @Html.ActionLink(
                        "Edit", 
                        "Edit", 
                        "Customer", 
                        new { id = customer.Id }, 
                        new { @class="btn btn-warning" })
                     @Html.ActionLink(
                        "Delete", 
                        "DeleteCustomer", 
                        "Customer", 
                        new { id = customer.Id }, 
                        new { onclick = "return confirm('Are you sure you want to delete this customer?');", @class="btn btn-danger" }) 
                      </td> 
                    }
                
                    
                    
                 </tr>
            }
                
    
  </tbody>
</table>
}
@section Scripts{
   <script>  
  
    $('#customers-table').dataTable({  
    });  
</script>  
       
}

