@model Epicycl.Models.Satellite;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<ul>
    <li>Type: @Model.Type</li>
    <li>Launch Date: @Model.LaunchDate</li>
    <li>Space Agency: @Model.SpaceAgency</li>
    <li>Space Agency: @Model.SpaceAgency</li>
    @if (@Model.Terminated != null)
    {
        <li>Terminated: @Model.Terminated</li>
    }
    <li>Description: @Model.Description</li>
</ul>
